build/
catboost_info/
src/python/Experiment*.py
proto.py
protoPYTHON_wrap.cxx
__pycache__
*.so
*.o
*.dat
*.dot
*.pdf
*.png
*.csv
*.tar.gz
*.tar
*.gz
*.zip
*.cxx
*.ipynb
*.pynb
*.odp
core
*~
.ipnyb_checkpoints/
